html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Kanit', sans-serif;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.5) ),
    url("../img/main-background.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#navbar {
    transition: top 0.5s;
}



.home {
    height:100%;
    color: white;
    opacity: 0.9;
    text-align: center;
}

.home .row {
    height: 100%;
}

.home h1 {
    font-size: 55px;
}

.about {
    height: 450px;
    background-color: white;
    color: black;
    text-align: center;
}

.about .row {
    height: 100%;
}

.about .title-part {
    margin-top: 50px;
    padding: 50px;
}

.about .title-part h2 {
    font-size: 34px;
    text-align: center;
}

.about .title-part p {
    font-size: 24px;
    text-align: left;
}

.image-preview {
    height: 100%;
}

.image-preview img {
    max-height: 100%;
    max-width: 100%;
}


.achievements-table {
    height: 150px;
    color: white;
}

.achievements-table .row {
    height: 100%;
    width: 85%
}

.achievements-table img {
    width: 64px;
    height: 64px;
}

.team {
    background-color: white;
    height: 500px;
}

.team .title {
    margin-top: 25px;
}

.team h2 {

    font-size: 34px;
    text-align: center;
}

.team .title {
    width: 100%;
    height: 50px;
    padding-top: 15px;

}
.team .cards {
    padding: 20px;
}

.team .card {
    height: 200px;
}

.team .card img {
    max-height: 100%;
    max-width: 100%;
}

.footer {
    height: 150px;
    background-color: #333333;
}

.footer .logo {
    margin-top: 25px;
}

.footer img {
    max-height: 100%;
    max-width: 100%;
}

